



div img{
    
    width:20%;
    }

h1{
    color:rgb(27, 24, 24);
}

header {
        
        display: flex;
        justify-content:flex-start;
        align-items:flex-end ;
        background-image: url("Designer\ Wallpaper\,\ Fine\ Fabrics\ &\ High\ End\ Furniture.jpeg");
        
        margin-bottom: 60px;
        
        
        
    } 

    nav ul{
        display:flex;
        list-style-type: none;
        
    
    } 
     li a{
    
    color:white;
    background-color: rgb(24, 4, 24);
    border-radius: 10px;
    border-style: groove;
    border-color:white ;
     text-decoration: none;
     padding: 30px;
     margin-right: 10px;
     margin-left: 10px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;

   }
   li a:hover{
    color:palevioletred;
   }
   li{
    margin-left: 0;
    margin-right: 0;
   }
   body{
        background-image:url("") ;
        }
    #slogan{ 
        font-size:10px;
        margin-left: 20px;
        font-size: larger;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:pink;
       
        
        }
        
            
        
            
        
        #page{

            background-color:beige;
            
            }
            
        #centre{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            background-color:rgb(17, 6, 17);
            border-radius: 10px;
        }
        
        #histoire{
            padding-left:14%;
              }
              
        article h1{

            margin-left: 40%;
            font-size: large;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: palevioletred;
            text-decoration: underline;
            
            
        }
       #article1{
        
        font-family: Arial, Helvetica, sans-serif;
        }
       span{
        color: rgb(150, 46, 63);
        font-family: Arial, Helvetica, sans-serif;
       }
       footer{
        background-image: url("Designer\ Wallpaper\,\ Fine\ Fabrics\ &\ High\ End\ Furniture.jpeg");
        margin-top: auto;
        
        
       }
       footer h1,p{
        margin-left: 70%;
        

       } 
       footer h1{
        margin-bottom: 10px;
        

       }
        
    footer p {
        font-family: 'Times New Roman', Times, serif;
        font-size: x-small;
        padding-bottom: 10px;
        
    }
    #histoire{
        margin-left: 30%;
    }
    article{
        margin-left: 50%;
        border-radius: 10px;
        border-color: black;
        border-style:outset;
        padding-left: 10px;
        padding-bottom: 10px;
        
    }