
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color:rgb(235, 60, 51);}

.product-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
}

.product-container img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.product-details h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

.product-description {
    font-size: 16px;
    color: #666;
}

.product-price {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.buy-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #2980b9;
}
